#CONTACT Elements for IoT
sqlite
eggs
node_modules
parts
develop-eggs
*.pyc
.installed.cfg
build
dist
.cache
*.swp
*.*~
.temp
/tmp
package_sources
.mr.developer.cfg
bin

# Jupyter Notebook
.ipynb_checkpoints